# Environment variables for Production VPS

DB_HOST=db
DB_PORT=5432
DB_USER=gisnas_admin
DB_PASSWORD=SecurePassword123!
DB_NAME=gisnas_production_db

# App Settings
JWT_SECRET=super_secret_key_for_gisnas_auth
PORT=8080

# Default Superadmin Credentials
ADMIN_USER=raja_gisnas
ADMIN_PASS=rahasia_negara_123

# Registration toggle (true = publik bisa daftar, false = hanya superadmin lewat User Management)
REGISTRATION_ENABLED=true
